@import "../variables.scss";

.coming-soon {
  background-color: $color-light-grey-1;
  text-align: center;

  &__title {
    text-transform: capitalize;
    font-weight: 300;
    font-size: 3.5rem;
    padding: 3rem;
  }

  & > * {
    margin: auto;
  }
}

@media (max-width: 700px) {
  .coming-soon {
    &__title {
      font-size: 2.5rem;
      padding: 2rem;
    }
  }
}
