@import "../variables.scss";

a,
a:link,
a:visited {
  text-decoration: none;
  color: #1e1e1e;
}

.navbar {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  margin-inline: 2rem;

  &__left {
    font-size: 1.45rem;
    font-weight: 600;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 48vw;
  }
  &__item {
    flex-shrink: 0;
    position: relative;
    margin: 0;

    &-dropdown {
      position: absolute;
      background-color: #242b2d;
      padding: 2.5rem;
      z-index: 1;
      display: none;

      &-list {
        list-style-type: none;
        gap: 1rem;
        width: auto;
        position: relative;
      }

      &-link,
      &-link:link,
      &-link:visited {
        white-space: nowrap;
        color: white;
        text-transform: capitalize;
        line-height: 4rem;
      }
      &-link:hover {
        color: #30a2e5;
      }
    }

    &--main {
      width: 10rem;
      padding: 0rem;
      & img {
        padding-top: 1rem;
        width: 100%;
      }
    }
  }
  &__link:not(&__link--logo) {
    display: inline-block;
    padding: 1.8rem 2.4rem;

    &:hover + .navbar__item-dropdown {
      display: block;
    }
  }
  &__item-dropdown:hover {
    display: block;
  }

  &__link:hover:not(&__link--logo, &__link--more) {
    color: #30a2e5;
  }

  &__login {
    margin-right: 2.5rem;
    color: black;
    font-weight: bolder;
    // background-color: khaki;
  }

  &__search {
    display: flex;
    align-items: center;
  }

  &__search-bar {
    width: 25rem;
    padding: 1.1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $color-light-grey;
    border: 1px solid $color-medium-grey;
    border-right: none;
    color: $color-medium-grey;
    z-index: 1;
  }
  &__search-button {
    padding: 0.5rem 1rem;
    background-color: $color-white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid $color-medium-grey;
    border-left: none;
  }
}
