@import "../variables.scss";

.products {
  padding: 4rem;
  background-color: $color-light-grey-1;
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 2rem;
  }
}

@media (max-width: 1000px) {
  .products {
    &__container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
  }
}

@media (max-width: 700px) {
  .products {
    padding: 2rem;
    &__container {
      grid-template-columns: 1fr;
    }
  }
}
