$default-font-size: 1.8rem;

$color-white: #ffffff;
$color-blue: #30a2e5;
$color-dark-blue: #044553;
$color-orange: #c14a2c;
$color-yellow: #fff2b6;

$color-light-grey: rgba(243, 243, 243, 0.705);
$color-light-grey-1: #f1f2f3;
$color-dark-grey: #1e1e1e;
$color-medium-grey: #717171;
$color-black: black;
